[pagina]
host	= //localhost/
titulo	= simple youtube
ancho	= 900
your_api_key = XXXXXXXXX_zA28JheHmcFGyDpd-W7gipw

[base_datos]
;servidor	= localhost
;usuario	= luis
;password	= 123456
;base_datos	= anaya
;Creamos nuevo apartado

[preferencias]
color	= rojo
tamanio = medio
fuente	= verdana

[autor]
nombre	= Anibal C
email	= detops.tk@gmail.com
